.Chat {
  position: relative;
  width: 300px;
  height: 1000px;
  display: flex;
  flex-direction: column;
  margin-left: 500px;
}

.MessagesArea {
  position: absolute;
  right: 30px;
  bottom: 10px;
}

.MessagesBox {
  display: flex;
  position: relative;
  text-align: center;
  width: 300px;
  height: 290px;
  border: 1px solid grey;
  overflow-y: auto;
}
.ChatInput {
  width: 210px;
}

.MessagesText {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  width: 50px;
  border: 1px solid rgb(250, 247, 67);
  border-radius: 30px;
  background-color: rgb(250, 247, 67);
  padding: 5px 10px 5px 10px;
  margin-top: 10px;
}

/* .MessagesArea2 {
  position: absolute;
  left: 30px;
  bottom: 10px;
}
.MessagesText2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  width: 50px;
  border: 1px solid rgb(67, 125, 250);
  border-radius: 30px;
  background-color: rgb(67, 125, 250);
  padding: 5px 10px 5px 10px;
  margin-top: 10px;
} */

.SandButton {
  outline: none;
  border: none;
  background: transparent;
  border-radius: 30px;
  background-color: yellow;
  color: black;
  font-size: 15px;
  outline: 0.2px grey;
  outline-style: solid;
  position: relative;
  left: 20px;
  cursor: pointer;
  padding: 5px 12px;
  font-family: "NanumB";
}
