.Contentscontainer {
  display: flex;
  position: relative;
  width: 100vw;
  height: auto;
  padding-bottom: 200px;
}

.ContentsMainBody {
  position: relative;
  top: 50px;
  width: 1080px;
  height: 300px;
  margin: auto;
}

.contentBody {
  position: relative;
  margin: auto;
  width: 1080px;
  height: 620px;
}

.contentTitleFixed {
  height: 70px;
  background-color: #f8f8f8;
  border-top: solid rgb(209, 209, 209) 0.6px;
  border-bottom: solid rgb(209, 209, 209) 0.6px;
  display: flex;
  align-items: center;
}

.contentTextFixed {
  height: 70px;
  background-color: #f8f8f8;
  border-bottom: solid rgb(209, 209, 209) 0.6px;
  height: 500px;
  overflow-y: auto;
  /* display: flex;
  align-items: center; */
}

.contentTitle {
  font-weight: bold;
  font-size: 20px;
  font-family: "NanumL";
  margin-left: 30px;
  width: 930px;
}

.contentDate {
  font-weight: bold;
  font-size: 15px;
  font-family: "NanumL";
  /* margin-left: 700px; */
}

.contentText {
  font-weight: bold;
  font-size: 14px;
  font-family: "NanumL";
  margin-left: 30px;
  margin-top: 30px;
  line-height: 20px;
}

.contentButton {
  width: 300px;
  display: flex;
  justify-content: space-around;
  position: relative;
  margin: auto;
  top: 500px;
}

.contentedit {
  outline: none;
  border: none;
  background: transparent;
  color: black;
  font-size: 15px;
  outline: 0.2px grey;
  outline-style: solid;
  cursor: pointer;
  padding: 7px 12px;
  font-family: "NanumR";
}

.contentremove {
  outline: none;
  border: none;
  background: transparent;
  color: black;
  font-size: 15px;
  outline: 0.2px grey;
  outline-style: solid;
  cursor: pointer;
  padding: 7px 12px;
  font-family: "NanumR";
}
.contentListbutton {
  outline: none;
  border: none;
  background: transparent;
  color: black;
  font-size: 15px;
  outline: 0.2px grey;
  outline-style: solid;
  cursor: pointer;
  padding: 7px 12px;
  font-family: "NanumR";
}

.ContentsTitle {
  font-size: 35px;
  font-weight: bold;
  font-family: "NanumEB";
}
