.Noticecontainer {
  display: flex;
  position: relative;
  width: 100vw;
  height: auto;
  padding-bottom: 200px;
}

/* .MNoticeList {
  overflow-x: hidden;
  overflow-y: scroll;
} */

.PageLabel {
  position: relative;
  margin-bottom: 10px;
}

.NoticeBody {
  position: relative;
  top: 50px;
  width: 1080px;
  height: auto;
  margin: auto;
  font-family: "NanumM";
}

.NoticeContents {
  margin: auto;
  font-size: 16px;
}

.NoticeSubTitle {
  background-color: #f4f4f4;
  width: auto;
  height: auto;
  border-top: solid rgb(209, 209, 209) 1px;
  vertical-align: middle;
}

.NoticeContents > p {
  font-size: 35px;
  font-weight: bold;
  font-family: "NanumEB";
}

.trth01 {
  width: 70px;
  height: 40.5px;
  text-align: center;
}

.trth02 {
  width: 895px;
  height: 40.5px;
  text-align: center;
}

.trth03 {
  width: 115px;
  height: 40.5px;
  text-align: center;
}

tbody > tr > td:nth-child(1) {
  text-align: center;
}
tbody > tr > td:nth-child(3) {
  text-align: center;
}

tbody > tr > td > a {
  margin-left: 50px;
}

.MNoticeList {
  width: 1080px;
  height: 100px;
}

.NoticeBottomPosition {
  height: 200px;
  width: 100vw;
  background-color: red;
}
