.NoticeInsert {
  font-family: "nanumM";
}

.InsertText {
  font-family: "nanumB";
  line-height: 30px;
  margin-left: 130px;
}


.NoticeWriteTitle {
  width: 800px;
  margin-left: 130px;
}

.NoticeWriteContents {
  width: 800px;
  height: 400px;
  margin-left: 130px;
}

.Writebuttonfixed{
display: flex;
  width: 150px;
  height: 50px;
  margin: auto;
justify-content: space-around;
align-items: center;
}


.NoticeWriteSave {
  border: none;
  background: #eeeeee;
  color: black;
  font-size: 15px;
  border-radius: 10px;
  outline: 0.2px grey;
  outline-style: solid;
  position: relative;
  cursor: pointer;
  padding: 3px 7px;
  width: 44px;
  height: 26px;
}

.NoticeWriteList {
  border: none;
  background: #eeeeee;
  color: black;
  font-size: 15px;
  border-radius: 10px;
  outline: 0.2px grey;
  outline-style: solid;
  position: relative;
  cursor: pointer;
  padding: 3px 7px;
  width: 44px;
  height: 26px;
}

/* .NoticeBottomPosition{
  position: absolute;
  top:900px;
} */
