.NoticeList {
  padding: 0;
  list-style: none;
  min-height: auto;
  max-height: auto;
  overflow-y: auto;
}

.PageNav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  // margin-left: 100px;
}

.PageNum {
  position: relative;
}

.NoticeWritebutton {
  outline: none;
  border: none;
  background: #eeeeee;
  color: black;
  font-size: 15px;
  border-radius: 10px;
  outline: 0.2px grey;
  outline-style: solid;
  position: relative;
  margin-left: 0px;
  left: 700%;
  cursor: pointer;
  padding: 3px 7px;
}
