/* .TodoInsert {
  font-family: "nanumM";
} */

.InsertText {
  font-family: "nanumB";
  line-height: 30px;
  margin-left: 130px;
}

.NoticeWrite {
  display: flex;
  flex-direction: column;
}

.NoticeWriteTitle {
  width: 800px;
  margin-left: 130px;
}

.NoticeWriteContents {
  width: 800px;
  height: 400px;
  margin-left: 130px;
}
