.NoticeList {
  padding: 0;
  list-style: none;
}

.NoticeID {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "NanumR";
}
.NoticeDate {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "NanumR";
}

.NoticeTitle {
  display: flex;
  align-items: center;
  font-family: "NanumR";
}

.PageNav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 1080px;
  height: auto;
}

.PageNum {
  position: relative;
  width: 800px;
  left: -150px;
}

.NoticeWritebutton {
  outline: none;
  border: none;
  background: transparent;
  color: black;
  font-size: 15px;
  outline: 0.2px grey;
  outline-style: solid;
  position: relative;
  margin-left: 0px;
  margin-top: -5px;
  left: 60px;
  cursor: pointer;
  padding: 5px 12px;
  font-family: "NanumR";
}

.NoticeListItemFixed {
  display: flex;
}
