.Page07 {
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  width: 100vw;
  height: 930px;
  overflow: hidden;
}

.Page07background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #333b58;
}

.Page07bgchnage {
  position: absolute;
  width: 100%;
  height: 100%;

  background-color: #559cde;
  animation-fill-mode: forwards;
}

.SUNfixed {
  position: absolute;
  width: 1850px;
  height: 100%;
}

.SunMoon {
  background-color: yellow;
  width: 130px;
  height: 130px;
  position: absolute;
  border-radius: 50%;
  top: 200px;
  left: 1400px;
  animation-fill-mode: forwards;
}

.SunMoonshadow {
  background-color: #333b58;
  width: 132px;
  height: 132px;
  position: absolute;
  border-radius: 50%;
  top: 170px;
  left: 1370px;
  opacity: 0;
  animation-fill-mode: forwards;
  z-index: 1;
}

.Page07fixed {
  width: 1300px;
  height: 100%;
  position: relative;
}

.Pg07textMain {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  font-family: "NanumL";
  font-size: 15px;
  color: #ffffff;
  top: 14%;
  z-index: 2;
}

.Pg07text01 {
  font-family: "NanumB";
  font-size: 40px;
  margin-bottom: 25px;
  letter-spacing: -0.3px;
}

.Pg07text02 {
  margin: 25px;
}

.Pg07bannerMain {
  font-size: 16px;
  font-weight: 600;
  margin-top: 50px;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  font-family: "NanumR";
}

.Pg07bannerMain div {
  position: relative;
  background-color: rgba(255, 255, 255, 0.09);
  border-radius: 10px;
  width: 166px;
  height: 52px;
  margin: 3px;
  margin-top: -25px;
  padding: 0 10px 0 0;
  text-align: center;
}

.Pg07bannerMain div a {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 166px;
  height: 52px;
  border-radius: 10px;
  padding: 0 10px 0 0;
}

.Pg07bannerMain div a:hover {
  text-decoration: underline;
}

.Pg07bannerMain img {
  width: 6px;
  height: 9px;
}

.Pg07bankbookIcon01 {
  position: absolute;
  top: 18.6%;
  left: 34%;
}
.Pg07bankbookIcon02 {
  position: absolute;
  top: 18.6%;
  left: 45.5%;
}
.Pg07bankbookIcon03 {
  position: absolute;
  top: 18.6%;
  left: 61.5%;
}
.Pg07bankbookIcon04 {
  position: absolute;
  top: 18.6%;
  left: 76%;
}

.Pg07bg {
  position: absolute;
  width: 429px;
  bottom: 0%;
  left: 34%;
}

.StarMain {
  width: 100vw;
  height: 100%;
  position: absolute;
}

.Star01 {
  width: 3.5px;
  height: 3.5px;
  top: 30%;
  left: 85%;
  position: absolute;
  border-radius: 50%;
  background-color: white;
  animation: STAR 1.5s infinite;
  animation-delay: 1.5s;
  animation-timing-function: ease;
}
.Star02 {
  width: 4px;
  height: 4px;
  top: 60%;
  left: 65%;
  position: absolute;
  border-radius: 50%;
  background-color: white;
  animation: STAR 2.5s infinite;
  animation-delay: 3.5s;
  animation-timing-function: ease;
}
.Star03 {
  width: 3.5px;
  height: 3.5px;
  top: 20%;
  left: 20%;
  position: absolute;
  border-radius: 50%;
  background-color: white;
  animation: STAR 2.5s infinite;
  animation-delay: 1.5s;
  animation-timing-function: ease;
}
.Star04 {
  width: 3px;
  height: 3px;
  top: 70%;
  left: 10%;
  position: absolute;
  border-radius: 50%;
  background-color: white;
  animation: STAR 2.5s infinite;
  animation-delay: 3.5s;
  animation-timing-function: ease;
}
.Star05 {
  width: 2.5px;
  height: 2.5px;
  top: 80%;
  left: 80%;
  position: absolute;
  border-radius: 50%;
  background-color: white;
  animation: STAR 2.5s infinite;
  animation-delay: 2.5s;
  animation-timing-function: ease;
}
.Star06 {
  width: 3px;
  height: 3px;
  top: 75%;
  left: 30%;
  position: absolute;
  border-radius: 50%;
  background-color: white;
  animation: STAR 2.5s infinite;
  animation-delay: 1.5s;
  animation-timing-function: ease;
}
.Star07 {
  width: 3px;
  height: 3px;
  top: 52%;
  left: 95%;
  position: absolute;
  border-radius: 50%;
  background-color: white;
  animation: STAR 3.1s infinite;
  animation-delay: 1.5s;
  animation-timing-function: ease;
}
.Star08 {
  width: 3px;
  height: 3px;
  top: 88%;
  left: 62%;
  position: absolute;
  border-radius: 50%;
  background-color: white;
  animation: STAR 2.9s infinite;
  animation-delay: 1.5s;
  animation-timing-function: ease;
}
.Star09 {
  width: 1.5px;
  height: 1.5px;
  top: 60%;
  left: 27%;
  position: absolute;
  border-radius: 50%;
  background-color: white;
  animation: STAR 3s infinite;
  animation-delay: 1.5s;
  animation-timing-function: ease;
}
.Star10 {
  width: 2px;
  height: 2px;
  top: 15%;
  left: 5%;
  position: absolute;
  border-radius: 50%;
  background-color: white;
  animation: STAR 2.8s infinite;
  animation-delay: 1.5s;
  animation-timing-function: ease;
}
.Star11 {
  width: 3px;
  height: 3px;
  top: 10%;
  left: 90%;
  position: absolute;
  border-radius: 50%;
  background-color: white;
  animation: STAR 2.5s infinite;
  animation-delay: 3s;
  animation-timing-function: ease;
}

@keyframes STAR {
  100% {
    scale: 0%;
    opacity: 0.2;
  }
  50% {
    scale: 100%;
    opacity: 0.8;
  }
  0% {
    scale: 0%;
    opacity: 0.2;
  }
}
