.Page08 {
  width: 100vw;
  height: 1062px;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.Pg08text01 {
  font-family: "GmarketMedium";
  font-size: 40px;
}

.Pg08text02 {
  font-size: 15px;
}

.Pg08banner {
  font-size: 16px;
  color: inherit;
  font-weight: 600;
}

.CardSlideMain {
  position: relative;
  margin-top: 100px;
  width: 100vw;
  height: 441px;
  display: flex;
  justify-content: center;
}

.Cardfixed {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 660px;
  height: 475px;
  overflow: hidden;
}

.Cardfixed img {
  width: 280px;
  margin: 0 5px 0 5px;
  animation: Slide 3s infinite;
}

@keyframes Slide {
  100% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(280px, 0, 0);
  }
  0% {
    transform: translate3d(560px, 0, 0);
  }
}

.button {
  justify-items: center;
  width: 38px;
  position: absolute;
  top: 45%;
}

.button img {
  width: 38px;
}

.button > img:nth-child(1) {
  position: absolute;
  right: 500px;
  top: 0%;
}

.button > img:nth-child(2) {
  position: absolute;
  left: 500px;
  top: 0%;
}
