@mixin laptop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin laptop-l {
  @media (min-width: 1440px) {
    @content;
  }
}

html {
  position: relative;
  z-index: -9999;
}

body {
  position: relative;
  z-index: -9999;
}

li {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: none;
}

img {
  vertical-align: bottom;
}

.wrapper {
  max-width: 320px;
  margin: 0 auto;
  position: relative;

  @include laptop {
    max-width: 1080px;
  }
}

.break {
  display: none;

  @include laptop {
    display: block;
  }
}

// .item__detail {
//   display: block;
//   width: 7px;
//   height: 13px;
//   background-image: url(../images/detail-arrow.png);
//   background-size: cover;
//   position: absolute;
//   top: 50%;
//   right: 25px;
//   transform: translateY(-50%);
// }

// .top-button {
//   display: block;
//   width: 50px;
//   height: 50px;
//   background-image: url(../images/top-button.png);
//   position: fixed;
//   bottom: -50px;
//   right: 15px;
//   transition: bottom 0.2s;
//   z-index: 9999;

//   @include laptop {
//     display: none;
//   }
// }

.top-button.active {
  bottom: 15px;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
@mixin section__title {
  font-size: 1.5625rem;
  font-weight: 500;
  line-height: 1.5;
  margin: 0 20px 20px;
  word-break: keep-all;

  @include laptop {
    font-size: 2.4375rem;
    margin: 0;
    margin-bottom: 20px;
  }
}

@mixin section__description {
  font-size: 14px;
  line-height: 1.5;
  margin: 0 20px 30px;
  word-break: keep-all;

  @include laptop {
    font-size: 0.9375rem;
    margin: 0;
    margin-bottom: 30px;
  }
}

@mixin section__image {
  max-width: 320px;
  display: block;
  margin: 0 auto;

  img {
    max-width: 100%;
    vertical-align: top;
  }

  &--pc {
    display: none;
  }

  &--mobile {
    display: block;
  }

  @include laptop {
    display: block;
    margin: 0;
    max-width: initial;
    width: 45%;

    &--pc {
      display: block;
    }

    &--mobile {
      display: none;
    }
  }
}

.check-card {
  text-align: center;

  &__title {
    @include section__title;
    text-align: center;
  }

  &__description {
    @include section__description;
  }

  &__image {
    @include section__image;
  }

  &__slider__wrapper {
    display: none;
    width: 800px;
    height: 460px;
    margin: 0 auto;
    overflow: hidden;
  }

  &__slider {
    height: 100%;
    transition: margin-left 0.3s ease-out;
    @include clearfix;
  }

  &__slider.disable {
    transition: margin-left 0s;
  }

  &__slider__item {
    width: 240px;
    height: 100%;
    margin-right: 25px;
    position: relative;
    float: left;

    img {
      display: block;
      max-width: 100%;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }

  &__slider__item:last-child {
    margin-right: 0;
  }

  &__slider__item.active {
    img {
      width: 280px;
      max-width: initial;
      z-index: 1;
      left: -20px;
    }
  }

  &__prev-arrow {
    display: none;
    width: 38px;
    height: 72px;
    background-image: url(../components/images/img-left.png);
    position: absolute;
    top: 450px;
    left: 0;
    transform: translateY(-50%);
    cursor: pointer;
  }

  &__next-arrow {
    display: none;
    width: 38px;
    height: 72px;
    background-image: url(../components/images/img-right.png);
    position: absolute;
    top: 450px;
    right: 0;
    transform: translateY(-50%);
    cursor: pointer;
  }

  @include laptop {
    padding: 150px 20px !important;

    .wrapper {
      max-width: 1165px;
    }

    &__description {
      margin-bottom: 60px;
    }

    &__image {
      display: none;
    }

    &__slider__wrapper {
      display: block;
    }

    &__prev-arrow {
      display: block;
    }

    &__next-arrow {
      display: block;
    }
  }
}
