.SecondMenu02 {
  position: absolute;
  margin-top: 29px;
  width: 100vw;
  height: 370px;
  left: 0;
  text-align: center;
  background-color: white;
}

.SecondMenu02 > ul {
  display: inline-block;
  margin: 40px 100px;
  margin-left: 0;
  vertical-align: top;
  line-height: 45px;
}

.second-title {
  font-family: "NanumB";
  font-weight: 500;
  font-size: 20px;
  color: black;
}

.second-sub-title {
  font-family: "NanumB";
  font-size: 14px;
  color: black;
}
