.SecondMenu01 {
  position: absolute;
  margin-top: 29px;
  width: 100vw;
  height: 320px;
  left: 0;
  text-align: center;
  background-color: white;
  z-index: 999;
}

.SecondMenu01 > ul {
  display: inline-block;
  margin: 40px 150px;
  margin-left: 0;
  vertical-align: top;
  line-height: 45px;
}

.second-title {
  font-family: "GmarketMedium";
  font-weight: 500;
  font-size: 20px;
  color: black;
}

.second-sub-title {
  font-family: "GmarketMedium";
  font-size: 14px;
  color: black;
}
