ul,
li {
  margin: 0;
  padding: 0;
}

.TopSubMenu {
  display: flex;
  width: 900px;
  /* background-color: green; */
  justify-content: center;
  align-items: center;
  margin-left: 230px;
}

.menu-1 {
  height: 20px;
  width: 900px;
  /* background-color: blue; */
}

.menu-1 > li {
  display: inline-block;
}

.first-menu {
  color: black;
  font-size: 15px;
  padding: 40px 10px;
  margin: 0 10px;
  font-family: "Gmarketmedium";
  position: relative;
}
.first-menu:hover {
  text-decoration: underline;
}

.menu-1 > li:hover > .first-menu::after {
  width: 100%;
}

.first-menu::after {
  content: "";
  width: 0px;
  height: 3px;
  position: absolute;
  bottom: 11px;
  left: 0;
  background-color: black;
  transition: width 0.3s;
}

.menu-1-1 > .first-menu-1 {
  background-color: #fede22;
  padding: 15px 15px;
  border-radius: 50px;
  margin-left: 20px;
  font-size: 15px;
  font-family: "Gmarketmedium";
}

.SecondMenuComp {
  display: none;
}

.menu-1 > li:hover > .SecondMenuComp {
  display: flex;
}
