<article class="index-article check-card">
  <div class="wrapper">
    <div class="check-card__content">
      <h2 class="check-card__title">
        프렌즈 체크카드,<br />
        내가 고르는 선택의 즐거움
      </h2>

      <p class="check-card__description">
        프렌즈 디자인부터 멋스러운 블랙컬러 카드까지 원하는 디자인과 기능을 선택
        할 수 있습니다.
      </p>
    </div>

    <div class="check-card__image">
      <img src="images/img-mweb-card@2x.png" />
    </div>

    <div class="check-card__slider__wrapper">
      <div class="check-card__slider js-check-card__slider" role="listbox">
        <div class="check-card__slider__item js-check-card__slider__item item1">
          <img src="images/home_checkcard_1.png" />
        </div>

        <div
          class="check-card__slider__item js-check-card__slider__item item2 active"
        >
          <img src="images/home_checkcard_2.png" />
        </div>

        <div class="check-card__slider__item js-check-card__slider__item item3">
          <img src="images/home_checkcard_3.png" />
        </div>

        <div class="check-card__slider__item js-check-card__slider__item item4">
          <img src="images/home_checkcard_4.png" />
        </div>

        <div class="check-card__slider__item js-check-card__slider__item item5">
          <img src="images/home_checkcard_5.png" />
        </div>
      </div>
    </div>

    <span
      class="check-card__prev-arrow js-check-card__prev-arrow js-check-card__arrow"
    ></span>
    <span
      class="check-card__next-arrow js-check-card__next-arrow js-check-card__arrow"
    ></span>
  </div>
</article>
