@font-face {
  font-family: "GmarketBold";
  src: url(../src/assets/font/GmarketSansTTFBold.ttf);
}

@font-face {
  font-family: "GmarketMedium";
  src: url(../src/assets/font/GmarketSansTTFMedium.ttf);
}

@font-face {
  font-family: "GmarketLight";
  src: url(../src/assets/font/GmarketSansTTFLight.ttf);
}

.container {
  display: flex;
  justify-content: center;
}

.Main {
  position: relative;
  width: 100vw;
  display: block;
}

.space {
  width: 100vw;
  height: 32px;
  background-color: #fafafa;
}

/* .Page07Main {
  z-index: 800;
}

.Page08Main {
  z-index: 1000;
} */

::selection {
  background-color: #fede22;
}
