@font-face {
  font-family: "GmarketBold";
  src: url(../src/assets/font/GmarketSansTTFBold.ttf);
}

@font-face {
  font-family: "GmarketMedium";
  src: url(../src/assets/font/GmarketSansTTFMedium.ttf);
}

@font-face {
  font-family: "GmarketLight";
  src: url(../src/assets/font/GmarketSansTTFLight.ttf);
}

.container {
  display: flex;
  justify-content: center;
}

.Main {
  width: 100vw;
  display: block;
}

